
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --primary-color: #1089B8;
    --secondary-color: #00AFEF;
  }


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;

}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.brand {
    width: 345px;
    aspect-ratio: 345 / 220;
}

.brand-logo {
    width: 267px;
    aspect-ratio: 267 / 72.87;
}

label {
    display: block;
    margin: 20px 0 2px;
    font-size: 18px;
    text-align: left;
}
.form{
   margin: 15px;
   display: flex;
   flex-direction: column;
   justify-items: flex-start;
   width: 100%;
}


  
input[type="text"],
input[type="password"] {
    max-width: none;
    padding: 12px;
    border: 1px solid #202020;
    margin-bottom: 4px;
    font-size: 1em;
    border-radius: 4px;
}

.login-btn {
    margin-top: 27px;
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;

}
hr{
    width: 100%;
    margin-bottom: 30px;
    border: .5px solid rgba(90, 87, 87, 0.473);
}

.login-btn:hover {
    background-color: var(--secondary-color);
    transition: .5s ease-in-out;
}

.register-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 15px 145px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    max-width: 100%;
}

.register-btn:hover {
    background-color: var(--secondary-color);
    transition: .5s ease-in-out;
}

.register-link {
    display: flex;
    margin-bottom: 90px;
}

/* Existing styles remain unchanged */

/* New media query for mobile devices */
@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 10px;
    }

    .logo {
        margin-top: 5px;
    }

    .brand {
        width: 300px;
        height: 200px;
    }

    .brand-logo {
        width: 220px;
        height: 68.87px;
    }

    label {
        font-size: 14px;
        margin: 15px 0 2px;
    }

    .form {
        margin: 10px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 8px;
        font-size: 14px;
    }
    .login-btn,
    .register-btn {
        padding: 8px 120px;
        font-size: 16px;
    }
}

